<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Registered Users</h1>
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>